<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive Dashboard</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="left-container">
        <h1>Hive Temperature</h1>
        <canvas id="temperature"></canvas>
    {{#if tempstatus}}
        <div class="status">
            Hive temperature is <span class="good">optimal</span>
        </div>
    {{else}}
        <div class="status">
            Hive temperature is <span class="bad">suboptimal</span>
        </div>        
    {{/if}}
    </div>
    <div id="right-container">
        <h1>Hive Humidity</h1>
        <canvas id="humidity"></canvas>
    {{#if humiditystatus}}
        <div class="status">
            Hive humidity is <span class="good">optimal</span>
        </div>
    {{else}}
        <div class="status">
            Hive humidity is <span class="bad">suboptimal</span>
        </div>        
    {{/if}}
    </div>
    <div id="left-container">
        <h1>Outside Temperature</h1>
        {{!-- <canvas id="weather"></canvas> implement this later  --}}
    </div>
    <div id="right-container">
        <h1>Hive Weight</h1>
        <canvas id="weight"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const tempgraph = document.getElementById('temperature').getContext('2d')
        const humiditygraph = document.getElementById('humidity').getContext('2d')
      //  const weathergraph = document.getElementById('weather').getContext('2d') // implement this later
        const weightgraph = document.getElementById('weight').getContext('2d')


        const tempdata = {
            labels: [{{#each temperatures}}"{{this.time}}",{{/each}}],
            datasets: [{
                label: 'Temperatures',
                data: [{{#each temperatures}}"{{this.temperature}}",{{/each}}],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false,
            }]
        }
        new Chart(tempgraph, {
            type: 'line',
            data: tempdata,
        })

        const humiditydata = {
            labels: [{{#each temperatures}}"{{this.time}}",{{/each}}],
            datasets: [{
                label: 'Humidity (%)',
                data: [{{#each temperatures}}"{{this.humidity}}",{{/each}}],
                borderColor: 'rgba(245, 39, 39, 0.8)',
                borderWidth: 1,
                fill: false,
            }]
        }
        new Chart(humiditygraph, {
            type: 'line',
            data: humiditydata,
        })

        const weightdata = {
            labels: [{{#each temperatures}}"{{this.time}}",{{/each}}],
            datasets: [{
                label: 'Weight (lbs)',
                data: [{{#each temperatures}}"{{this.weight}}",{{/each}}],
                borderColor: 'rgba(50, 255, 145, 0.8)',
                borderWidth: 1,
                fill: false,
            }]
        }
        new Chart(weightgraph, {
            type: 'line',
            data: weightdata,
        })
    </script>
</body>
</html>